body { width: 100%; text-align: center; margin: 0; overflow-y: scroll }

h1 {font-family:Arial}
.content {padding:20px 0px; width:100%; max-width:500px; margin:0 auto}
.content img {padding: 0px 15px 0px 0px}
.tabs {list-style-type: none; text-align: center; padding:20px;  font-size:0}
.tabs li {display:inline-block;  border-bottom:1px solid gray; padding:0; margin:0;}
.tabs li:not(:last-child) {border-right:1px solid gray}
.tabs li a {text-decoration:none; text-transform: uppercase; padding:19px; color:black; font-size:14px; display:block; font-family:Arial}
.tabs li.active a,
.tabs li a:hover {background-color:gray; color:white}

#favourites,
#popular {display:none}

.content > div {border: 2px solid black; text-align: left; padding:0px; margin:0px 0px 25px 0px; background-color:#f4f4f4}
.content > div div.container {display: table}
.content > div div.container > img {display:table-cell; vertical-align: top}
.content > div div.container > span {display:table-cell; vertical-align: top; text-align: left; max-height:100px; overflow: hidden}
.clear {clear:both}
.episodes_btn {width:100%; height:50px; background:gray; display: block; text-align: center; line-height: 50px; color:white; text-transform: uppercase; font-family: Arial; text-decoration: none; margin:15px 0px 0px 0px; position:relative}

.padding {padding:0px 10px}
.arrow {position:absolute; right:20px; top:0px}
button {cursor: pointer; width:100%; text-transform: uppercase; border:none; background:chocolate; height:50px; line-height: 50px; color:white; font-size:16px; margin:15px 0px 0px 0px}
button.remove-favourite {background:orangered}
input {font-size:18px; width:300px; height:30px; padding:5px 10px}

.expandable {width:100%; display:none; background-color:darkgray; font-size:0px;}
.expandable > div {padding:5px}
.expandable p {font-size: 14px; padding:0; margin:0; line-height: 20px; text-transform: uppercase; font-family:Arial;}
.expandable section {display:block; vertical-align: top; padding-bottom:15px}
.expandable section ul {margin:0; padding:0; list-style-type: none}
.expandable section ul li {display:inline-block; width:65px; vertical-align: middle; margin:0px 10px 0px 0px; font-size:20px; position:relative}
.expandable section ul li > span {display: inline-block; vertical-align: middle; position:absolute; top:9px; left:38px}
.expandable ul {display:block}
.expandable ul li {font-size: 14px;  font-family:Arial}


.trailer_btn {height:50px; width:100%; background-color:deepskyblue; text-transform: uppercase; margin:15px 0px 0px 0px; text-align: center; line-height:50px; color:white; font-family:Arial; font-size:12px; cursor:pointer; font-size:16px; position:relative; display:none}
.trailer_container {width:100%; background-color:deepskyblue; display: none; text-align: center; padding:15px 0px}

input[type='checkbox'] { -webkit-appearance:none; width: 30px; height: 30px; background: white; border-radius: 5px; border: 2px solid #555; diplay: inline-block; }
input[type='checkbox']:checked { background: black; }

h2, h4 {margin:0; padding:0}
h2 {margin-top:15px; font-family:Arial}
h4 {margin-bottom:10px}